on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy to EC2 on main branch push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the files
        uses: actions/checkout@v2

      # Upload files to EC2
      - name: Deploy to EC2
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.HOST_DNS }}
          REMOTE_USER: ${{ secrets.USERNAME }}
          TARGET: ${{ secrets.TARGET_DIR }}   # Example: /home/ubuntu/app

      # Execute Commands on EC2
      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo apt-get update -y
            sudo apt-get install -y apache2
            sudo systemctl enable apache2
            sudo systemctl restart apache2

            # Clean old HTML files
            sudo rm -rf /var/www/html/*

            # Copy the deployed build to Apache webroot
            sudo cp -r ${{ secrets.TARGET_DIR }}/* /var/www/html/

            sudo chown -R www-data:www-data /var/www/html
            sudo systemctl restart apache2
